body {
    background: url("images/bg_image.jpg") 100%/cover repeat-x fixed;
}

#logo {
    float: right;
}

h1 {
    color: gold;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

h2 {
    color: gold;
    font-size: 19px;
    font-family: 'Dancing Script', cursive;
}

h3 {
    color: gold;
    font-size: 17px;
    font-family: 'Dancing Script', cursive;
}

.bottomnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottomnav li{
    display: inline;
    padding: 2px 8%;
    font-family: 'Slabo 27px',serif;
    font-size: 17px;
    font-weight: 700;
}

a:link, a:visited {
    color: #00078e;
    text-transform: full-width;
    text-decoration: none;
}

a:hover {
    color: gold;
}

ul li.selected a {
    color: silver;
}


/***
Header
***/

#name{
    font-family: 'Dancing Script', cursive;
    color: gold;
}

#name h1{
    font-size: 33px;
}

#name h2{
    font-size: 20px;
    margin-top: -29px;
}


/***
Footer
***/

#footer {
    color: silver;
    font-size: 10px;
}

.social {
    height: 18px;
    width: 18px;
    margin: 0 2.5px;
}


/***
Home Page
***/

#mainnav a{
    color: #d6a119;
    text-decoration: none;
    font-size: 25px;
    text-transform: none;
}

#mainnav li {
    padding: 15% 10%;
}

.navleft {
    float: left;
}

.navright {
    float: right;
}

#events {
    color: silver;
    margin-top: 15%;
}

#events h3 {
    font-size: 25px;
    margin-bottom: 2.5px;
    padding-bottom: 2.5px;
}

#events h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin-top: -7px;
}

#events ul {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    list-style: none;
}



/***
Bourbon
***/

#subtitleb {
    color: gold;
    font-family: 'Dancing Script', cursive;
    margin: -30px 5% 20px;
}

#bourbon h2{
    font-family: 'Dancing Script', cursive;
    color: gold;
    margin: auto;
    width: 25%;
    height: 25%;
    font-size: 20px;
}

#list2 {
    margin-top: 32px;
}

#bourbon ul {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: silver;
}

#bourbon_list {
    list-style: none;
    margin: auto;
    width: 25%;
    height: 25%;
}

#bourbon_list li {
    padding-top: 1%;
}

#cocktails {
    list-style: square;
}

#cocktails li {
    margin-left: 10%;
}

#cocktails p {
    font-size: 12px;
    margin: -2px 15% 12px;
}


/***
Beer
***/

.beer {
    font-family: 'Raleway', sans-serif;
    color: silver;
    font-size: 15px;
}

/***
Food Page
***/

#menu_left h2 {
    color: gold;
    font-size: 20px;
}

#menu_left, 
#menu_right {
    width: 46.5%;
    padding: 5% 0; 
}

#menu_left {
    float: left;
}

#menu_right {
    float:right;
}

#menu_right h2 {
    color: gold;
    font-size: 20px;
}

.menuitems {
    color: silver;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    list-style: square;
}

.menuitems p {
    font-size: 12px;
    margin: -1px 0 5px 10px;
}

/***
Contact
***/

.location{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: silver;
    margin: -24px auto 45px 18px;
    padding: 5px;
}

.contact-info a{
    color:silver;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
}

.contact-info {
    list-style: none;
    padding: 15% 0 25% 0;
}

#map img{
    max-width: 40%;
    margin: 5% 0 10% 25%;
    padding: 5px;
    }

#building img {
    max-width: 40%;
    margin: 10% 0 5% 25%;
    padding: 5px;
}

#address {
    font-family: 'Raleway', sans-serif;
    color: silver;
    font-size: 12px;
    font-weight: 600;
}

#contact_left {
    float: left;
}

#contact_right {
    float: right;
}

#signup h3{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#signup p{
    color: silver;
    font-family: 'Raleway',sans-serif;
    margin: -24px auto 15px 18px;
    padding: 5px;
    font-size: 12px;
}

#signupForm {
    font-family: 'Raleway', sans-serif;
    color: silver;
    font-size: 14px;
    margin: auto 23% 5px 23%;
}

#submitButton {
    border-color: gold;
    background-color: gold;
    font-family: 'Raleway', sans-serif;
    color: #00078e;
    margin: 5% 25%;
    padding: 2%;
}

#submitButton:hover {
    background-color: #00078e;
    color: gold;
    border-style: none;
}

/* Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}